<h1><%= @shop.name %> - </h1>

<p><%= @dept %></p>
<%= link_to 'Edit Dept', edit_shop_dept_path([@shop, @dept])
<%= link_to 'Delete Dept', [@shop, @dept], method: :delete %>
<%= link_to 'back to depts', shop_depts_path(@shop) %>
